/* Carousel dot property css */
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #7f3dff !important;
  font-size: 14px;
}
.slick-dots li button:before {
  color: #eee5ff !important;
  opacity: 1 !important;
}