.tab-block
{
    display: flex;
    font-weight: 600;
    font-size: 16px;
    justify-content: space-between;
    line-height: 30px;
    margin: 10px auto 20px;  
}
.tab-container
{
    padding:0 15px;  
}
.active-tabs
{
    background-color:#FCEED4;
    border-radius: 20px;
    padding:5px 15px;
    color:#FCAC12;
    font-size:16px;
    line-height: 28px;
}
.tabs
{
    background-color:#fff;
    border-radius: 20px;
    padding:5px 15px;
    color:#91919F;
    font-size:16px;
    line-height: 28px;
}
.content
{
    display:none;
}
.active-content
{
    display:block;
}
.content-tabs h2
{
    font-size: 22px;
    line-height:30px;
    margin-bottom: 10px;
    color:#292B2D;
}
.content-tabs p
{
    font-size: 16px;
    line-height:25px;
    margin-bottom: 10px;
    color:#292B2D;
}

.trans-div
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.trans-div h4
{
    font-size:18px;
    line-height:28px;
    color:#000;
}
.trans-div button
{
    font-size:16px;
    padding:7px 15px;
    background-color:#EEE5FF;
    color:#7F3DFF;
    border-style:none;
    border-radius:30px;
    font-weight: 600;
}
.content-box
{
    display: flex;
    background-color: #FCFCFC;
    padding:5px 20px;
    border-radius:10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom:20px;
}
.desc-side h4
{
    font-size:16px;
    line-height:25px;
    color:#292B2D; 
}
.desc-side p
{
    font-size:14px;
    line-height:23px;
    color:#91919F;
    margin-bottom:0px; 
}
.payment-side h4
{
    font-size:16px;
    line-height:25px;
    color:#FD3C4A;
}
.payment-side p
{
    font-size:14px;
    line-height:23px;
    color:#91919F;
    margin-bottom:0px; 
}