@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Noto+Serif+TC:wght@900&family=Pacifico&family=Rubik+Glitch&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter';
  margin-top: 45px;
}

/*Flex-Property*/
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.align-self {
  align-self: center;
}
.text-center {
  text-align: center;
}

/*Font Weight*/
.font-100 {
  font-weight: 100;
}
.font-200 {
  font-weight: 200;
}
.font-300 {
  font-weight: 300;
}
.font-400 {
  font-weight: 400;
}
.font-500 {
  font-weight: 500;
}
.font-600 {
  font-weight: 600;
}
.font-700 {
  font-weight: 700;
}
.font-800 {
  font-weight: 800;
}

/*Text Color*/
.text-white {
  color: #ffffff;
}
.text-light-black {
  color: #212325;
}
.text-grey {
  color: #212325;
}
.text-milk-white {
  color: #fcfcfc;
}
.text-primary {
  color: #7f3dff;
}
.text-light-grey {
  color: #91919f;
}
.text-black {
  color: #000000;
}
.text-yellow {
  color: #fcac12;
}
.text-green {
  color: #00a86b;
}
.text-red {
  color: #fd3c4a;
}

/* Background Color Property */
.primary-100 {
  background-color: #7f3dff;
}
.primary-200 {
  background-color: #eee5ff;
}
.red {
  background-color: #fd3c4a;
}
.green {
  background-color: #00a86b;
}
.dark-blue {
  background-color: #5233ff;
}
.blue {
  background-color: #0077ff;
}
.yellow {
  background-color: #fcac12;
}
.sandal {
  background-color: #fceed4;
}
.light-red {
  background-color: #fdd5d7;
}
.light-blue {
  background-color: #bddcff;
}
.black {
  background-color: #000000;
}
.light-grey {
  background-color: #f1f1fa;
}
.light-green {
  background-color: #cffaea;
}
.white {
  background-color: white;
}

/* Padding */
.p-16 {
  padding: 0 16px;
}
.pt-24 {
  padding-top: 24px;
}

/* font-size */
.fs-18 {
  font-size: 18px;
}
.fs-64 {
  font-size: 64px;
}

/* margin */
.mb-16 {
  margin-bottom: 16px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-16 {
  margin-top: 16px;
}
/* border-radius */
.rounded-t-32 {
  border-radius: 32px 32px 0px 0px;
}
.rounded-16 {
  border-radius: 16px;
}

/* opacity */
.opacity {
  opacity: 0.64;
}

/* width  */
.w-375 {
  width: 375px;
}
.w-343 {
  width: 343px;
}

/* heigth  */
.h-56 {
  height: 56px;
}

/* border  */
.border-1 {
  border: 1px solid;
}

/* position  */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.z-1 {
  z-index: 1;
}
