@font-face {
  font-family: 'Inter';
  src: local('Myriad Pro Regular'),
    url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap')
      format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #7f3dff;
  --secondary: #eee5ff;
  --red: #fd3c4a;
  --light-red: #fdd5d7;
  --green: #00a86b;
  --light-green: #cffaea;
  --dark-blue: #5233ff;
  --light-blue: #bddcff;
  --blue: #0077ff;
  --yellow: #fcac12;
  --light-yellow: #fceed4;
  --black: #212325;
  --light-gray: #f1f1fa;
  --white: #ffffff;
  --grey: #e0e2e9;
}

html,
body {
  font-family: 'Inter', sans-serif;
}
.font-none {
  color: transparent;
}

/*Text Color*/
.text-white {
  color: #ffffff;
}
.text-light-black {
  color: #212325;
}
.text-grey {
  color: #212325;
}
.text-milk-white {
  color: #fcfcfc;
}
.text-primary {
  color: #7f3dff;
}
.text-light-grey {
  color: #91919f;
}
.text-black {
  color: #000000;
}
.text-yellow {
  color: #fcac12;
}
.text-green {
  color: #00a86b;
}
.text-red {
  color: #fd3c4a;
}

/*Text*/
.font-32 {
  font-size: 32px;
}

/*Flex-Property*/
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.align-self {
  align-self: center;
}
.text-center {
  text-align: center;
}
/*Font Weight*/
.font-100 {
  font-weight: 100;
}
.font-200 {
  font-weight: 200;
}
.font-300 {
  font-weight: 300;
}
.font-400 {
  font-weight: 400;
}
.font-500 {
  font-weight: 500;
}
.font-600 {
  font-weight: 600;
}
.font-700 {
  font-weight: 700;
}
.font-800 {
  font-weight: 800;
}

/* Margin */

.mt-45 {
  margin-top: 45px;
}

/* Border-Radius*/
.rounded-50 {
  border-radius: 50px;
}

/*Height*/
.h-32 {
  height: 32px;
}
.h-16 {
  height: 16px;
}

/*Width*/
.w-32 {
  width: 32px;
}
.w-16 {
  width: 16px;
}

/*Border*/
.border-4 {
  border: 4px solid #eee5ff;
}
.border-none {
  border: none;
}
/*cursor*/
.pointer {
  cursor: pointer;
}

/*Outline*/
.outline {
  outline: none;
}
.caret-color {
  caret-color: transparent;
}
::-webkit-inner-spin-button {
  display: none;
}
.gap-16 {
  gap: 16px;
}
/* Background Color Property */

.bg-primary {
  background-color: var(--primary);
}
.bg-secondry {
  background-color: var(--secondary);
}
.bg-none {
  background: none;
}
.bg-red {
  background-color: var(--red);
}

.bg-green {
  background-color: var(--green);
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-light-yellow {
  background-color: var(--light-yellow);
}

.bg-light-red {
  background-color: var(--light-red);
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.bg-black {
  background-color: var(--black);
}

.light-grey {
  background-color: var(--light-gray);
}
.grey {
  background-color: var(--grey);
}

.light-green {
  background-color: var(--light-green);
}
.mt-45 {
  margin-top: 45px;
}

/* Border-Radius*/

.rounded-50 {
  border-radius: 50px;
}

.rounded-16 {
  border-radius: 16px;
}

/*Height*/

.h-32 {
  height: 32px;
}

.h-56 {
  height: 56px;
}

/*Width*/

.w-32 {
  width: 32px;
}
.w {
  width: 100%;
}

.w-343 {
  width: 343px;
}

/*Border*/

.border-4 {
  border: 4px solid #eee5ff;
}

.border-none {
  border: none;
}

/*cursor*/

.pointer {
  cursor: pointer;
}

/* padding */

.p-8 {
  padding: 8px;
}

/* Font size */

.font-size-18 {
  font-size: 18px;
}
.hero-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
